.DS_Store
bin/
obj/
packages/
node_modules/
logs/
.env
Argonne/Dashboard/ArgonneDashboard/wwwroot/lib/
*.user
*.suo
Argonne/Dashboard/ArgonneDashboard/project.fragment.lock.json
/Argonne/Api/.vs
/Argonne/Api/ArgonneWebApi/Properties/PublishProfiles
Argonne/Dashboard/ArgonneDashboard/jspm_packages/github/
Argonne/Dashboard/ArgonneDashboard/jspm_packages/npm/
/Argonne/Dashboard/ArgonneDashboard/src/**/*.css
/Argonne/Dashboard/ArgonneDashboard/src/**/*.js
/Argonne/Dashboard/ArgonneDashboard/src/**/*.map
Argonne/Device/ArgonneAdDisplay/ArgonneAdDisplay/AppPackages/ArgonneAdDisplay_1.0.4.0_Test/Dependencies/x86/Microsoft.NET.Native.Runtime.1.4.appx
Argonne/Device/ArgonneAdDisplay/ArgonneAdDisplay/AppPackages/
Argonne/Dashboard/ArgonneDashboard/wwwroot/
