.DS_Store
bin/
obj/
packages/
node_modules/
logs/
.env
Argonne/Dashboard/ArgonneDashboard/wwwroot/lib/
*.user
*.suo
Argonne/Dashboard/ArgonneDashboard/project.fragment.lock.json
/Argonne/Api/.vs
Argonne/Dashboard/ArgonneDashboard/jspm_packages/npm/
Argonne/Dashboard/ArgonneDashboard/jspm_packages/github/
