<div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="container">
        <div class="row">
            <div class="col s10">
                <h5 class="breadcrumbs-title">{{vm.currentCampaign.campaignName}}</h5>
                <span>{{vm.currentAfterDate.local().format('LLL')}}</span>
                <!--<ol class="breadcrumbs">
                    <li><a href="index.html">Campaigns</a></li>
                    <li class="active">{{vm.currentCampaign.campaignName}}</li>
                </ol>-->
            </div>
            <div class="col s2">
                <div class="valign-wrapper">
                    <span>Enable Live Stream</span>
                    <div class="switch valign">
                        <label>
                            <input type="checkbox" ng-model="vm.enableLiveStream">
                            <span class="lever"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--start container-->
<div class="container">
    <!--card stats start-->
    <div id="card-stats">
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content pink lighten-1 white-text">
                        <p class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> Unique Faces</p>
                        <h4 class="card-stats-number">{{vm.campaignAgData.uniqueFaces|| 0}}</h4>
                        <p class="card-stats-compare">
                            <span class="deep-purple-text text-lighten-5">{{vm.campaignAgData.totalFaces || 0}} totals faces</span>
                        </p>
                    </div>
                    <div class="card-action pink darken-2 center-align white-text">
                        <div id="invoice-line" class="center-align"><canvas width="258" height="25" style="display: inline-block; width: 258px; height: 25px; vertical-align: top;"></canvas></div>
                        <!--<span><i class="fa fa-male"></i> {{vm.campaignAgData.males}} </span><span><i class="fa fa-female"></i> {{vm.campaignAgData.females}} </span> <span class="deep-purple-text text-lighten-5">from {{vm.currentAfterDate.fromNow()}}</span>-->
                        <!--<span id="chart-unique-users"></span>-->
                        <!--<nvd3 options="vm.uniqueChartOptions" data="vm.uniqueChartData" class="with-3d-shadow with-transitions"></nvd3>-->
                        <!--<div id="clients-bar" class="center-align"><canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;"></canvas></div>-->
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content green white-text">
                        <p class="card-stats-title"><i class="mdi-social-group-add"></i> Average Age</p>
                        <h4 class="card-stats-number">{{(vm.aggregatedData.avgAge | number:0) || 0}}</h4>
                        <p class="card-stats-compare">
                            <!--<i class="mdi-hardware-keyboard-arrow-up"></i> 15%--> <span class="green-text text-lighten-5">Youngest {{vm.aggregatedData.smallestAge}} and oldest {{vm.aggregatedData.largestAge}}</span>
                        </p>
                    </div>
                    <div class="card-action  green darken-2 center-align ">
                        <span id="chart-unique-users"></span>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">                
                <div class="card">
                    <div class="card-content blue-grey white-text">
                        <p class="card-stats-title"><i class="mdi-action-trending-up"></i> Sentiment</p>
                        <!--<i class="material-icons happiness medium">sentiment_very_satisfied</i>-->
                        <h4 class="card-stats-number">{{vm.aggregatedData.sentiment.name || 'Uknown'}}</h4>
                        <p class="card-stats-compare">
                            <i class="mdi-hardware-keyboard-arrow-up"></i> {{vm.aggregatedData.sentiment.count || '0'}} <span class="blue-grey-text text-lighten-5">{{vm.currentAfterDate.local().fromNow()}}</span>
                        </p>
                    </div>
                    <div class="card-action blue-grey darken-2">
                        <div id="profit-tristate" class="center-align"><canvas width="227" height="25" style="display: inline-block; width: 227px; height: 25px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content purple white-text">
                        <p class="card-stats-title"><i class="mdi-action-trending-up"></i> Gender</p>
                        <h2 class="card-stats-number">
                            <i class="fa fa-male fa-2x"></i> {{vm.campaignAgData.males || 0}} / <i class="fa fa-female fa-2x"></i> {{vm.campaignAgData.females || 0}}
                        </h2>
                        <!--<p class="card-stats-compare">
                            <i class="mdi-hardware-keyboard-arrow-up"></i> 70% <span class="purple-text text-lighten-5">last month</span>
                        </p>-->
                    </div>
                    <div class="card-action purple darken-2">
                        <div id="sales-compositebar" class="center-align"><canvas width="214" height="25" style="display: inline-block; width: 214px; height: 25px; vertical-align: top;"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--card stats end-->

    <!--<div id="impression-collection-wrapper">
        <div class="row">
            <div class="card z-depth-0 no-margin no-padding">
                <div class="card-content">
                    <div class="card-title">
                        <span class="card-title">Live Impression Stream ({{vm.impressions.length || 0}})</span>
                    </div>
                    <ul id="impression-collection" class="collection scrollable">
                        <li class="collection-item" ng-repeat="imp in vm.impressions" ng-init="vm.loadAddInfo(imp)">
                            <div class="row">
                                <div class="col s6">
                                    <div class="collections-title">{{imp.ad.adName}}</div>
                                    <div class="collections-content">
                                        <div class="row result-{{vm.getImpressionResult(imp)}}">
                                            <div class="col s12 share-icons">
                                                <i class="material-icons blue-text">face</i> {{imp.faces.length | number: 2}}
                                                <i class="material-icons green-text happiness">sentiment_very_satisfied</i> {{imp.avgHappiness | number: 2}}
                                                <i class="material-icons orange-text contempt">sentiment_satisfied</i> {{imp.avgContempt | number: 2 }}
                                                <i class="material-icons yellow-text disgust">sentiment_dissatisfied</i> {{imp.avgDisgust | number: 2}}
                                                <i class="material-icons red-text anger">face</i> {{imp.avgAnger | number: 2}}
                                                <i class="material-icons brown-text fear">face</i> {{imp.avgFear | number: 2}}
                                                <i class="material-icons gray-text neutral">sentiment_neutral</i> {{imp.avgNeutral | number: 2}}
                                                <i class="material-icons lime-text sadness">sentiment_dissatisfied</i> {{imp.avgSadness | number: 2}}
                                                <i class="material-icons purple-text surprise">sentiment_satisfied</i> {{imp.avgSurprise | number: 2}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s3">
                                    <span class="task-cat cyan">{{vm.moment.utc(imp.deviceTimestamp).fromNow()}}</span>
                                </div>
                                <div class="col s3">
                                    <div><small>Campaign: {{imp.campaignId}}</small></div>
                                    <div><small>Device: {{imp.deviceId}}</small></div>
                                    <div><small>Ad: {{imp.displayedAdId}}</small></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>-->

    <div id="ad-stats-container" class="row">
        <!--<div class="col s12 m8">
            <div class="card">
                <div class="card-move-up waves-effect waves-block waves-light">
                    <div class="move-up cyan darken-1">
                        <div>
                            <span class="chart-title white-text">Revenue</span>
                            <div class="chart-revenue cyan darken-2 white-text">
                                <p class="chart-revenue-total">$4,500.85</p>
                                <p class="chart-revenue-per"><i class="mdi-navigation-arrow-drop-up"></i> 21.80 %</p>
                            </div>
                            <div class="switch chart-revenue-switch right">
                                <label class="cyan-text text-lighten-5">
                                    Month
                                    <input type="checkbox">
                                    <span class="lever"></span> Year
                                </label>
                            </div>
                        </div>
                        <div class="trending-line-chart-wrapper">
                            <canvas id="trending-line-chart" height="352" width="1510" style="width: 755px; height: 176px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i class="mdi-content-add activator"></i></a>
                    <div class="col s12 m3 l3">
                        <div id="doughnut-chart-wrapper">
                            <canvas id="doughnut-chart" height="224" width="338" style="width: 169px; height: 112px;"></canvas>
                            <div class="doughnut-chart-status">
                                4500
                                <p class="ultra-small center-align">Sold</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m2 l2">
                        <ul class="doughnut-chart-legend">
                            <li class="mobile ultra-small"><span class="legend-color"></span>Mobile</li>
                            <li class="kitchen ultra-small"><span class="legend-color"></span> Kitchen</li>
                            <li class="home ultra-small"><span class="legend-color"></span> Home</li>
                        </ul>
                    </div>
                    <div class="col s12 m5 l6">
                        <div class="trending-bar-chart-wrapper">
                            <canvas id="trending-bar-chart" height="216" width="722" style="width: 361px; height: 108px;"></canvas>
                        </div>
                    </div>
                </div>

                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Revenue by Month <i class="mdi-navigation-close right"></i></span>
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th data-field="id">ID</th>
                                <th data-field="month">Month</th>
                                <th data-field="item-sold">Item Sold</th>
                                <th data-field="item-price">Item Price</th>
                                <th data-field="total-profit">Total Profit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>January</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>February</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>March</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>April</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>May</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>June</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>July</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>August</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Septmber</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Octomber</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>November</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>December</td>
                                <td>122</td>
                                <td>100</td>
                                <td>$122,00.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>-->
        <div class="col s12 m4">
            <ul id="projects-collection" class="collection scrollable">
                <li class="collection-item avatar">
                    <i class="mdi-file-folder circle light-blue darken-2"></i>
                    <span class="collection-header">Campaign's Ad</span>                    
                    <a href="#" class="secondary-content"><i class="mdi-action-grade"></i></a>
                </li>
                <li class="collection-item" ng-repeat="a in vm.currentCampaign.ads">
                    <div class="row" ng-init="vm.getAdDetails(a)">
                        <div class="col s6">
                            <p class="collections-title">{{a.adName}}</p>
                            <!--<p class="collections-content">{{a.url}}</p>-->
                        </div>
                        <div class="col s3">
                            
                        </div>
                        <div class="col s3 valign-wrapper">
                            <!--<div id="project-line-1"><canvas width="120" height="30" style="display: inline-block; width: 120px; height: 30px; vertical-align: top;"></canvas></div>-->
                            <i class="valign material-icons happiness tiny">sentiment_very_satisfied</i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--<div id="work-collections">
        <div class="row">
            <div class="col s12 m12 l6">
                <div class="card z-depth-0 no-margin no-padding">
                    <div class="card-content">
                        <ul id="issues-collection" class="collection scrollable">
                            <li class="collection-item avatar">
                                <i class="mdi-action-bug-report circle red darken-2"></i>
                                <span class="collection-header">Campaigns</span>
                                <p>All</p>
                                <a href="#" class="secondary-content"><i class="mdi-action-grade"></i></a>
                            </li>
                            <li class="collection-item" ng-repeat="c in vm.campaigns">
                                <div class="row">
                                    <div class="col s7" ng-init="vm.getCampaignDetails(c)">
                                        <p class="collections-title"><strong>{{c.campaignName}}</strong> </p>
                                        <p class="collections-content">{{c.campaignId}}</p>
                                    </div>
                                    <div class="col s2">
                                        <span class="task-cat pink accent-2">{{c.ads.length}}</span>
                                    </div>
                                    <div class="col s3">
                                        <div class="progress">
                                            <div class="determinate" style="width: 70%"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>-->


</div>