body {
}

#content .container {
    width: 98%;
}

.card.no-margin .card-content {
    margin: 0;    
}

.card.no-padding .card-content {
    padding: 0;
}

.collection.scrollable {
    height: 400px;
    overflow-y: scroll;
}