<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Devices.Client.PCL" version="1.0.13" targetFramework="MonoAndroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="MonoAndroid60" />
  <package id="PCLCrypto" version="1.0.86" targetFramework="MonoAndroid60" />
  <package id="Validation" version="2.0.6.15003" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0.1" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0.1" targetFramework="MonoAndroid60" />
</packages>