<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Argonne Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    @*<link rel="stylesheet"
        href="//assets.onestore.ms/cdnfiles/external/mwf/short/v1/latest/css/mwf-west-european-default.min.css">*@

    @*<link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet" />*@

    <base href="/">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/jspm_packages/npm/materialize-css@0.97.7/dist/css/materialize.min.css">
    <link rel="stylesheet" href="~/wwwroot/materialized/materialized.css">    
    <link rel="stylesheet" href="~/wwwroot/index.css">
</head>
<body ng-app="app" class="loaded">
    <preloader></preloader>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    @RenderBody()

    @*<script src="~/jspm_packages/npm/jquery@3.1.0/dist/jquery.min.js"></script>*@
    @*<script src="~/jspm_packages/npm/chartjs@0.3.24/chart.js"></script>*@
    @*    <script src="~/jspm_packages/npm/signalr@2.2.1/jquery.signalr.min.js"></script>
        <script src="signalr/hubs"></script>
    *@
    @*<script async="async"
                src="//assets.onestore.ms/cdnfiles/external/mwf/long/v1/v1.12.0/scripts/mwf-main.var.min.js"></script>
        <noscript></noscript>*@

    @*<script async="async"
        src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>*@
    
    @*<script src="jspm_packages/system.js"></script>
    <script src="jspm.browser.js"></script>
    <script src="jspm.config.js"></script>

    <script>
        System.import('src/index.ts').then(function () {
        });
    </script>*@


    <script src="~/wwwroot/index.js"></script>
    @*<script async="async" src="~/src/materialized/chart-script.js"></script>*@
    @RenderSection("scripts", required: false)

</body>
</html>
